.left-header-add-calendar-container {
    width: 20%;
}

.center-header-add-calendar-container {
    width: 60%;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.right-header-add-calendar-container {
    width: 20%;
}

.form-item-add-event {
    margin: 10px 20px;
    border-radius: 2px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: hsl(0, 0%, 84%) 0 0px 2px 0px;
}

.name-event-input {
    font-size: 20px;
    height: 60px;
    text-align: center;
}

.pre-icon-add-event {
    margin: 0px 5px 20px 0px;
    font-size: 25px;
    color: hsl(0, 1%, 68%);
    cursor: pointer;
}

.next-icon-add-event {
    margin: 0px 5px 20px 0px;
    font-size: 25px;
    color: hsl(0, 1%, 68%);
    cursor: pointer;
}

.list-users-asign-add-event-container {
    width: 800px;
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
}

.user-add-event-container {
    text-align: center;
    position: relative;
}

.avatar-add-event-container {
    width: 160px;
}

.check-asign-add-event {
    color: #1890ff;
    position: absolute;
    font-size: 30px;
    left: 42%;
    top: 12%;
}

.icon-input-add-event,
.title-input-add-event {
    font-size: 16px;
}

.icon-input-add-event {
    margin: 0px 4px 0px 20px;
}

.row-form-item-add-event {
    margin: 20px 0px;
    align-items: center;
}

.col-form-item-add-event {  
    text-align: center;
}

.width-70-percent {
    width: 70%;
}

.name-user-add-event {
    margin-top: 4px;
	display: inline-block;
	background-color: #f2f3f5;
	color: #385898;
	padding: 5px 10px;
	font-weight: 600;
	border-radius: 10px;
}

.upload-img-add-calendar-container {
    display: flex;
    justify-content: center;
}

.upload-img-ui-add-canlendar{
    position: relative;
    cursor: pointer;
    border: groove thin;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
}

.input-file-add-calendar {
    width: 150px;
    height: 35px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
}

.delete-img-button {
    margin-left: 5px;
    margin-top: 5px;
    width: 150px;
    height: 35px; 
    border: groove thin; 
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}

.icon-loading-add-event {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.alert-error-submit-form {
    background-color: #ee7674;
    margin-bottom: 10px;
}

.title-modal-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
}

.title-repeat-modal {
    font-size: 25px;
    font-weight: normal;
}

.repeat-type-modal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.repeat-type-item-modal {
    width: 60px;
    height: 60px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
    border-radius: 50%;
}

.repeat-type-item-modal:hover {
    background-color: #b7cdea;
    box-shadow: 0px 0px 20px #b7cdea;
}

.repeat-type-item-modal::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: all 1s;
}

.repeat-type-item-modal-selected {
    border-color: #1890ff;
    border-width: 1px; 
    border-style: groove;
    border-radius: 50%;
    color: #1890ff;
    font-family: bold;
}

.body-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nested-repeat-type-modal-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nested-repeat-type-item-modal {
    padding: 2px 10px;
    border-bottom-style: groove;
    border-bottom-width: 0.1px;
    margin: 20px 10px;
    cursor: pointer;
}

.day-of-week-modal-container {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.date-of-month-modal-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.date-of-month-modal {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.date-of-month-modal-item {
    width: 43.75px;
    position: relative;
    cursor: pointer;
}

.check-selected-date-of-month {
    position: absolute;
    top: 6px;
    right: 13px;
    font-size: 18px;
    color: #1890ff;
    cursor: pointer;
}

.month-of-year-modal-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.order-week-of-month-modal-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.avatar-custom-container {
    position: relative;
    cursor: pointer;
}

.check-selected-day-of-week {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 18px;
    color: #1890ff;
}

.footer-modal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cancel-button-modal {
    width: 48%;
}
.save-button-modal {
    width: 48%;
}

