.header-tasks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}
.header-title {
	font-size: 25px;
	text-align: center;
}

.header-part-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.header-part-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.search-task > .ant-input-suffix > .ant-input-search-icon {
	font-size: 19px;
}

.site-collapse-custom-collapse .site-collapse-custom-panel {
	background: #f7f7f7;
	border-radius: 2px;
	margin-bottom: 24px;
	border: 0px;
	overflow: hidden;
}

.ant-collapse-header {
	font-size: 18px;
	text-transform: uppercase;
}
.btn-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-list-task {
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.site-collapse-custom-collapse {
	position: relative;
}
.number-of-task {
	position: absolute;
	z-index: 1;
	right: 10px;
	align-items: center;
	text-align: center;
	width: 22px;
	height: 22px;
	line-height: 22px;
	background-color: red;
	color: white;
	border-radius: 11px;
}

.list-cate-task {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
}
.list-cate-task:hover {
	cursor: pointer;
}

.task-cate:hover {
	cursor: pointer;
	border: 1.5px solid #2985ff;
}

.filter-list-task {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: max-content;
	width: 100%;
	margin: 10px 0 15px;
}
