.grocery__data-bill {
    width: max-content;
    color: #3a9e3f;
}

@media all and (min-width: 320px) and (max-width: 599px) {
    .grocery__info-item {
        flex: 1;
    }

    .grocery__title-list {
        font-size: 15px;
    }
}

@media all and (min-width: 600px) and (max-width: 1023px) {}

@media all and (min-width: 1024px) {}

@media all and (min-width: 1280px) {}