.container-member {
    text-align: center;
    position: relative;
    cursor: pointer
}
.img-member {
    border-radius: 50%;
    border: groove thin;
}

.badge {
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    position: absolute;
}

.ant-list-pagination {
    text-align: center;
}

.size-member-name {
    margin-top: 5px;
}

/* big tablets to 1200px */
@media only screen and (min-width: 1450px) {
    .size-icon {
        font-size: 19px !important;
    }

    .container-member,
    .img-member {
        width: 80px;
        height: 80px;
    }

    .size-member-name {
        font-size: 12px;
    }
    
    .badge {
        width: 28px ;
        height: 28px ;
        font-size: 15px;
        line-height: 27px;
        top: 6px;
        left: 60px;
    }
}

@media only screen and (min-width: 1222px) and (max-width: 1449px) {
    .size-icon {
        font-size: 17px !important;
    }

    .container-member,
    .img-member {
        width: 75px;
        height: 75px;
    }

    .size-member-name {
        font-size: 11px;
    }
    
    .badge {
        width: 25px ;
        height: 25px ;
        font-size: 12px;
        line-height: 25px;
        top: 5px;
        left: 55px;
    }
}

@media only screen and (min-width: 995px) and (max-width: 1221px) {
    .size-icon{
        font-size: 15px !important;
    }

    .container-member,
    .img-member {
        width: 70px;
        height: 70px;
    }

    .size-member-name {
        font-size: 11px;
    }
    
    .badge {
        width: 24px ;
        height: 24px ;
        font-size: 11px;
        line-height: 24px;
        top: 4px;
        left: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 994px) {
    .size-icon {
        font-size: 13px !important;
    }

    .container-member,
    .img-member {
        width: 65px;
        height: 65px;
    }

    .size-member-name {
        font-size: 10px;
    }
    
    .badge {
        width: 22px ;
        height: 22px ;
        font-size: 12px;
        line-height: 22px;
        top: 5px;
        left: 45px;
    }
}

/* small phones to small tablets */
@media only screen and (min-width: 480px) and ( max-width: 767px) {
    .size-icon,
    .size-member-name {
        font-size: 9px !important;
    }

    .container-member,
    .img-member {
        width: 60px;
        height: 60px;
    }
    
    .badge {
        width: 20px ;
        height: 20px ;
        font-size: 9px;
        line-height: 20px;
        top: 7px;
        left: 43px;
    }
}

/* small phones from 0 - 480px */
@media only screen and (min-width: 0px) and (max-width: 479px) {
    a,
    .size-icon {
        font-size: 9px !important;
    }

    .container-member,
    .img-member {
        width: 55px;
        height: 55px;
    }

    .size-member-name {
        font-size: 10px;
    }
    
    .badge {
        width: 20px ;
        height: 20px ;
        font-size: 10px;
        line-height: 22px;
        top: 9px;
        left: 42px;
    }
}
