.header-container {
    padding: 0px 20px;
    background-color: white;
}

.header-family-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-header-family-container {
    font-size: 22px;
}

.icon-header-family {
    font-size: 19px;
}

.first-row-family-content-container,
.second-row-family-content-container {
    margin: 20px;
    background-color: white;
}

.title-first-row-family-content,
.title-second-row-family-content {
    font-size: 18px;
    font-weight: bold;
}

.spin-get-list-members,
.spin-get-list-news {
    width: 100%;
    text-align: center;
}

.list-members-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 49px;
    justify-content: center;
}

.member-item-container {
    cursor: pointer;
    width: 200px;
    text-align: center;
    margin: 10px 0px;
}

.title-second-row-family-content-container,
.title-first-row-family-content-container {
    display: flex;
    padding: 15px;
    align-items: center;
    font-size: 18px;
}

.list-item-new-family-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-list-item-family-container {
    display: flex;
}

.first-col-content-list-item-family {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-list-item-family-container {
    cursor: pointer;
}