.create-profile-container {
    height: 100vh !important;
}

.container-profile-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.input-profile-img {
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}



