.center-header-add-reward-container {
    font-size: 22px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.left-header-add-reward-container,
.right-header-add-reward-container {
    width: 20%;
}

.form-add-reward {
    margin: 0px 20px;
}

.form-item-add-reward {
    margin: 10px 0px;
    border-radius: 2px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: hsl(0, 0%, 84%) 0 0px 2px 0px;
}

.name-reward-input {
    font-size: 20px;
    height: 60px;
    text-align: center;
}

.form-item-point-reward {
    position: relative;
    width: 50%;
    margin: auto;
}

.point-reward-input {
    filter: opacity(0);
    border-radius: 3px;
}

.point-reward-input-fake {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: #1979a9;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}