.left-header-update-family-container {
    width: 20%;
}

.center-header-update-family-container {
    font-size: 22px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.content-update-family {
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}