.header-update-family-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-header-update-family-container {
    font-size: 22px;
}

.family-account-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.form-family-account {
    width: 400px;
    margin: auto;

}