.repeat-modal__title {
    width: 100%;
    text-align: center;
}

.repeat-modal__footer {
    display: flex;
}

.repeat-modal__footer--btn {
    flex: 1;
}

.repeat-modal__container {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.repeat-modal__choose-type {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.repeat-modal__type {
    flex: 1;
    height: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.repeat-modal__type:hover {
    background-color: rgba(5, 35, 117, 0.05);

}

.ant-modal-body {
    padding: 12px;
}

.repeat-modal__data-form {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.repeat-modal__form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.repeat-modal__form-item--label {
    width: max-content;
}

.repeat-modal__form-item--group {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.repeat-modal__form-item--input {
    width: 45%;
    height: 38px;
}

.repeat-modal__form-item--one {
    width: 100%;
    height: 36px;
}

.repeat-modal__chosen-type {
    background-color: rgba(5, 35, 117, 0.05);
    color: #1487F6;
    font-weight: 500;
}

.repeat-modal__no-repeat {
    min-height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #9999;
}

.repeat-modal__reminder {
    height: 36px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid #EDEDED;
}

.repeat-modal__reminder-chosen {
    border: 1px solid #1487F6;
    color: #1487F6;
}

@media all and (min-width: 320px) and (max-width: 599px) {

    .repeat-modal__form-item--label {
        display: none;
    }

    .repeat-modal__form-item--input {
        width: 45%;
    }

    .repeat-modal__form-item--group {
        width: 100%;
        justify-content: space-between;
    }

    .repeat-modal__form-item--input {
        margin: 0;
    }

    .repeat-modal__data-form {
        padding: 0 0px;
    }
}

@media all and (min-width: 600px) and (max-width: 1023px) {}

@media all and (min-width: 1024px) {}

@media all and (min-width: 1280px) {}