.body-register-family {
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.register-family__form-container {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-right: 1px solid #eeeeee;
}

.container-create-family {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.logo-register__home-page {
    position: absolute;
    top: 30px;
    left: 0;
}

.title-create-family-form {
    text-align: center;
    font-size: 25px;
    margin: 10px 0px;
}

.create-family-form {
    width: 100%;

}

.form-item-register-family {
    margin: 15px 0px;
    width: 100%;
}

.container-family-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.family-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.input-family-img {
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.error-message-register-family-form {
    color: #ff4d4f;
    margin: 0px 0px 0px 5px;
    font-size: 14px;
}

.button-item-register-family-form {
    width: 48%;
    margin-top: 20px;
}

.button-register-family-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register__banner {
    flex-basis: 55%;
    background-image: url('../../../assets/image-home-page/3958061.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 992px) {
    .register__banner {
        display: none;
    }

    .container-create-family {
        width: 400px;
        padding: 0 30px;
    }

    .register-family__form-container {
        flex-basis: 100%;
        border-right: none;
    }

    .logo-register__home-page {
        left: 30px;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {}