.body-register-family {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-create-family {
    margin: auto;
    width: 400px;
    border: groove thin;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.title-create-family-form {
    text-align: center;
    font-size: 25px;
    margin: 10px 0px;
}

.create-family-form {
    width: 100%;
    padding: 10px 30px;
}

.form-item-register-family {
    margin: 15px 0px;
}

.container-family-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.family-img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    border: groove thin;
}

.input-family-img {
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.error-message-register-family-form {
    color: #ff4d4f;
    margin: 0px 0px 0px 5px;
    font-size: 14px;
}

.button-item-register-family-form {
    width: 48%;
    margin-top: 20px;
}

.button-register-family-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
