.content-my-profile-container {
    margin: 10px 0px;
}

.my-profile-container {
    margin-top: 20px;
}

.delete-button,
.save-button {
    width: 100%;
    border-style: ridge;
    border-radius: 5px;
    font-size: 20px;
    height: auto;
}

.delete-button {
    background-color: darkgrey;
}

.save-button {
    float: right;
}