.left-header-chat-container {
    width: 20%;
}

.center-header-chat-container {
    font-size: 22px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.chat-container {
    width: 100%;
    height: 75vh;
    border: groove thin;
    border-radius: 10px;
    background-color: white;
}

.header-message-container {
    height: 8vh;
    border-bottom: groove thin;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}

.img-header-message {
    height: 100%;
    width: auto;
    border-radius: 50%;
    border: groove thin;
}

.tool-bar-container {
    height: 7vh;
    padding: 0px 40px;
    align-items: center;
    width: 100%;
}

.name-header-chat-list {
    font-weight: bold;
}

.active-container {
    display: flex;
    flex-direction: row;
}

.circle-active {
    background-color: rgb(66, 183, 42);
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    margin: auto 0px;
}

.header-chat-list-container {
    padding: 10px;
    align-items: center;
}

.img-header-chat-list {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: groove thin;
}

.menu-item-container {
    height: auto !important;
    padding: 8px !important;
    border-radius: 10px;
}

.content-item-chat-list {
    color: rgb(153, 153, 153);
}

.img-chat-list-container {
    height: 45px;
    width: 45px;
    position: relative;
}

.img-chat-list {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: groove thin;
    position: absolute;
}

.icon-active {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    background-color: rgb(66, 183, 42);
    position: absolute;
    right: 0;
    top: 30px;
}

.title-header {
    font-size: 25px;
}

.message-under-name-chat-list {
    width: "50%";
    overflow: "hidden";
    text-overflow: "ellipsis";
    line-height: 15px;
}

.name-item-chat-list {
    line-height: 30px;
}

#remote-video {
    position: relative;
    width: 100%;
    height: auto;
}

#local-video {
    position: absolute;
    width: 20%;
    height: auto;
    left: 10px;
}

.caller-name,
.callee-name {
    text-align: center;
    margin: 20px 0px;
}

.video-call-title {
    text-align: center;
    font-size: 17px;
    margin: 10px 0px;
}

.green-btn,
.green-btn:hover {
    background-color: rgb(66, 183, 42);
}

.red-btn,
.red-btn:hover {
    background-color: #fa4444;
}

.color-btn:hover{
    color: white;
}

.cancel-btn,
.accept-btn{
    width: 60px;
    height: 30px;
    position: relative;
    border-radius: 40px;
    animation: 1.2s animation-btn;
    animation-iteration-count: infinite;
}

@keyframes animation-btn {
    100%{
        opacity: 1;
        transition: all 10s;
        transform: scaleX(1.4) scaleY(1.2);
    }
}

/* big tablets to 1200px */
@media only screen and (min-width: 1024px) {
    .name-header-chat-list {
        font-size: 20px;
    }
    .icon-back {
        font-size: 16px;
    }   

    .name-item-chat-list {
        font-size: 18px;
    }
    
    .content-item-chat-list {
        font-size: 14px;
    }
}

/* small tablets to big tablets from 768px to 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .name-header-chat-list {
        font-size: 18px;
    }

    .name-item-chat-list {
        font-size: 13px;
    }

    .message-under-name-chat-list {
        font-size: 8px;
    }
    
    .content-item-chat-list {
        font-size: 12px;
    }
}

/* small phones to small tablets */
@media only screen and (min-width: 480px) and ( max-width: 767px) {
    .name-header-chat-list {
        font-size: 16px;
    }

    .name-item-chat-list,
    .message-under-name-chat-list {
        font-size: 0px;
    }
    
    .content-item-chat-list {
        font-size: 10px;
    }
}

/* small phones from 0 - 480px */
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .name-header-chat-list {
        font-size: 14px;
    }

    .name-item-chat-list {
        font-size: 0px;
    }
    
    .content-item-chat-list {
        font-size: 8px;
    }
}
