.chat__header {
    display: flex;
    position: relative;
}

.left-header-chat-container {
    position: absolute;
    left: 10px;
}

.chat__content {
    margin: 10px;
}

.chat__show-chat-msg {
    border-width: 90%;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.center-header-chat-container {
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-container {
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    background-color: white;
}

.header-message-container {
    height: 60px;
    border-bottom: 1px solid #ededed;
    padding: 10px;
    align-items: center;
}

.img-header-message {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.tool-bar-container {
    height: 7vh;
    padding: 0px 30px;
    align-items: center;
    width: 100%;
}

.name-header-chat-list {
    font-weight: bold;
}

.active-container {
    display: flex;
    flex-direction: row;
}

.circle-active {
    background-color: rgb(66, 183, 42);
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    margin: auto 0px;
}

.header-chat-list-container {
    padding: 10px;
    align-items: center;
}

.img-header-chat-list {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-item-container {
    height: auto !important;
    padding: 8px !important;
    border-radius: 10px;
}

.content-item-chat-list {
    color: rgb(153, 153, 153);
}

.img-chat-list-container {
    height: 45px;
    width: 45px;
    position: relative;
}

.img-chat-list {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
}

.icon-active {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    background-color: rgb(66, 183, 42);
    position: absolute;
    right: 0;
    top: 30px;
}

.title-header {
    font-size: 25px;
}

.message-under-name-chat-list {
    width: '50%';
    overflow: 'hidden';
    text-overflow: 'ellipsis';
    line-height: 15px;
}

.name-item-chat-list {
    line-height: 30px;
}

#remote-video {
    position: relative;
    width: 100%;
    height: auto;
}

#local-video {
    position: absolute;
    width: 20%;
    height: auto;
    left: 10px;
}

.caller-name,
.callee-name {
    text-align: center;
    margin: 20px 0px;
}

.video-call-title {
    text-align: center;
    font-size: 17px;
    margin: 10px 0px;
}

.green-btn,
.green-btn:hover {
    background-color: rgb(66, 183, 42);
}

.red-btn,
.red-btn:hover {
    background-color: #fa4444;
}

.color-btn:hover {
    color: white;
}

.cancel-btn,
.accept-btn {
    width: 60px;
    height: 30px;
    position: relative;
    border-radius: 40px;
    animation: 1.2s animation-btn;
    animation-iteration-count: infinite;
}

@keyframes animation-btn {
    100% {
        opacity: 1;
        transition: all 10s;
        transform: scaleX(1.4) scaleY(1.2);
    }
}

.chat-mobile__content {
    display: none;
    background-color: white;
}

/* big tablets to 1200px */
@media only screen and (min-width: 1024px) {
    .name-header-chat-list {
        font-size: 20px;
    }

    .icon-back {
        font-size: 16px;
    }

    .name-item-chat-list {
        font-size: 18px;
    }

    .content-item-chat-list {
        font-size: 14px;
    }
}

/* small tablets to big tablets from 768px to 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .name-header-chat-list {
        font-size: 18px;
    }

    .name-item-chat-list {
        font-size: 15px;
    }

    .message-under-name-chat-list {
        font-size: 8px;
    }

    .content-item-chat-list {
        font-size: 12px;
    }

    .tool-bar-container {
        padding: 0px 10px;
        width: 100%;
    }
}

/* small phones to small tablets */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .name-header-chat-list {
        font-size: 16px;
    }

    .name-item-chat-list,
    .message-under-name-chat-list {
        font-size: 13px;
    }

    .content-item-chat-list {
        font-size: 10px;
    }

    .tool-bar-container {
        padding: 0px 10px;
        width: 100%; 
    }

    .chat__content {
        display: none;
    }

    .chat-mobile__content {
        display: block;
        margin: 10px 0px;
        padding: 50px 10px;
    }

    .header-chat-list-container {
        padding: 0px 10px;
        display: none;

    }
}

/* small phones from 0 - 480px */
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .name-header-chat-list {
        font-size: 14px;
    }

    .name-item-chat-list {
        font-size: 13px;
    }

    .content-item-chat-list {
        font-size: 8px;
    }

    .center-header-chat-container {
        font-size: 18px;
    }

    .left-header-chat-container {
        left: 5px;
    }

    .tool-bar-container {
        padding: 0px 10px;
        width: 100%;
    }

    .chat__content {
        display: none;
    }

    .chat-mobile__content {
        display: block;
        margin: 10px 0px;
        padding: 50px 10px;
    }

    .header-chat-list-container {
        padding: 0px 10px;
        display: none;

    }
}