.calendar__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
}

.left-header-calendar-container {
    position: absolute;
    left: 10px;
    display: flex;
    align-items: center;
}

.right-header-calendar-container {
    position: absolute;
    right: 10px;
    display: flex;
}

.center-header-calendar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

.content-calendar {
    background-color: white;
    margin: 0px 10px 10px 10px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

.icon-header-calendar {
    font-size: 19px;
}

.first-row-content-calendar-container {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
}

.list-user-calendar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    width: max-content;
    cursor: pointer;
}



.name-user-calendar {
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
    background-color: #f2f3f5;
    color: #385898;
    padding: 2px 8px;
    font-weight: 500;
    border-radius: 10px;
}

.calendar__avatar-member {
    width: 40px;
    height: 40px;
}

.calendar__avatar-member:hover {
    border: 2px solid #77b2ff;
}

.avatar-event-container {
    width: 200px;
}

.pre-icon-calendar,
.next-icon-calendar {
    font-size: 25px;
    cursor: pointer;
}

.border-avatar-calendar {
    border: groove thin #2985ff;
}

.event-tag {
    width: 100%;
    white-space: nowrap;
    height: 20;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}

.remind-event-bell {
    font-size: 19px;
    animation: 1.2s remind-event-bell-animation;
    animation-iteration-count: infinite;
}

.calendar__avatar-member {
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.calendar__mobile {
    display: none;
}

.calendar__show-event {
    display: none;
    width: 100%;
    border-bottom: 1px solid #ededed;
}

.calendar__show-event .ant-divider {
    margin: 0px 0px 10px 0px;
}

.calendar__calender-container {
    width: 100%;
}

@keyframes remind-event-bell-animation {
    100% {
        color: red;
        transition: all 10s;
        transform: scaleX(1.2) scaleY(1.2);
    }
}

@media all and (min-width: 320px) and (max-width: 599px) {
    .content-calendar {
        margin: 10px 0px;
        padding: 10px;
    }

    .first-row-content-calendar-container {
        margin: 10px 0px;
    }

    .avatar-event-container {
        width: 100px;
    }

    .calendar__avatar-member {
        width: 40px;
        height: 40px;
    }

    .name-user-calendar {
        font-size: 13px;
    }

    .calendar__pc-or-tablet {
        display: none;
    }

    .calendar__mobile {
        display: block;
    }

    .calendar__show-event {
        display: block;
    }

    .calendar__header-search {
        display: none;
    }

    .icon-header-calendar,
    .remind-event-bell {
        font-size: 16px;
    }

    .center-header-calendar-container {
        font-size: 18px;
    }

    .header-search__tablet-pc {
        display: none;
    }

    .header-search__mobile {
        display: flex;
    }
}

@media all and (min-width: 600px) and (max-width: 1023px) {}

@media all and (min-width: 1024px) {}

@media all and (min-width: 1280px) {}