.container-add-task {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.add-task__header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 100%;
}

.container-form-add-task {
	width: 100%;
}

.add-task__content {
	margin: 0 10px;
}

.add-task__label-form-item {
	font-size: 16px;
}

.list-avatar-member,
.list-task-cate {
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.task-cate-item,
.container-avatar-member {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.task-cate-item {
	margin: 0 5px;
}

.avatar-member,
.avatar-task-cate {
	display: flex;
	position: relative;
}

.icon-avatar-member,
.icon-avatar-task-cate {
	width: 40px;
	height: 40px;
	border-radius: 50% !important;
	position: relative;
	border: 1px solid rgba(175, 172, 172, 0.533);
	cursor: pointer;
}

.icon-avatar-member-checked,
.icon-avatar-task-cate-checked {
	width: 40px;
	height: 40px;
	border-radius: 50% !important;
	position: relative;
	border: 1px solid rgba(161, 156, 156, 0.533);
	cursor: pointer;
	opacity: 0.3;
}

.icon-check-assign-member,
.icon-check-assign-task-cate {
	color: rgb(50, 230, 33);
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 999;
}

.icon-avatar-member:hover {
	transform: translateY(-1px);
	border: 1px solid #819ed8;
	box-shadow: 0px 0px 20px #9fb8eb;
}

.name-avatar-member {
	margin-top: 5px;
	display: inline-block;
	background-color: #f2f3f5;
	color: #385898;
	padding: 2px 8px;
	font-weight: 500;
	border-radius: 10px;
	font-size: 13px;
}

.avatar-checked-assign-member {
	opacity: 0.5;
}

.button-add-task-form {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.add-task-list-img {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}

.show-upload-img {
	width: 150px;
	height: 150px;
	position: relative;
	border: groove thin;
	object-fit: contain;
}

.add-task-img {
	width: 30%;
	height: 30%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-40%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-add-task-img {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	top: 0;
}

.upload-img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.tt-upload-img {
	width: max-content;
}

.after-upload-img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

/* custom again form add task */

.form-item-add {
	margin: 6px 0;
	padding: 10px 20px;
	border-radius: 2px;
	background-color: hsl(0, 0%, 100%);
	background-position: 50% 50%;
	box-shadow: hsl(0, 0%, 84%) 0 0px 2px 0px;
}

.input-item-add-task {
	border: none;
	font-size: 16px;
	text-align: center;
}

/* css for select point and time in tab add task */

.custom-select-add-task,
.custom-select-date-add-task {
	position: relative;
	width: 100%;
	height: 100%;
	height: 45px;
	border-radius: 2px;
	cursor: pointer;
}

.custom-select-date-add-task {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.custom-select-add-task:hover {
	border-color: #40a9ff;
	border-right-width: 1px !important;
}

.present-select-add-task {
	width: 100%;
	height: 100%;
	background-color: #1979a9;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}

.present-select-date-add-task {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	padding: 0;
	cursor: pointer;
}

.select-item-add-task {
	position: absolute;
	top: 0;
	opacity: 0;
	filter: opacity(0);
	z-index: 1;
	cursor: pointer;
}

.show-data-select {
	width: max-content;
	font-size: 18px;
	color: white;
}

.ant-picker-input>input:hover {
	cursor: pointer;
}

.ant-form-item-label>label {
	width: 100%;
	position: relative;
}

.disable-btn-add-task {
	pointer-events: none;
	color: slategrey;
}

.add-task__button-select-icon {
	font-size: 22px;
	margin-right: 15px;
	color: white;
}

.add-task__header-title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header__btn-link {
	font-size: 19px;
}

.add-task__header-title {
	font-size: 19px;
}

.task-form__change-image-container {
	display: flex;
}

.task-form__change-image {
	width: 140px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
	border: 1px solid #bdbaba;
	margin-left: 10px;
}

.form-task__icon-add-more {
	display: flex;
	position: relative;
}

@media all and (min-width: 320px) and (max-width: 599px) {
	.task-form__date-picker {
		background-color: #1979a9;
	}

	.add-task-list-img {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.task-form__change-image-container {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.add-task__content {
		margin: 0 0px;
	}

	.header__btn-link {
		font-size: 16px;
	}

	.task__header-icon {
		font-size: 16px;
	}

	.form-item-add {
		margin: 5px 0;
		padding: 5px 10px;
	}

	.add-task__button-select-icon {
		font-size: 20px;
		margin-right: 10px;
		color: white;
	}

	.show-data-select {
		font-size: 14px;
	}

	.present-select-add-task {
		justify-content: center;
	}

	.add-task__label-cate {
		font-size: 12px;
		color: #444444;
	}

	.add-task__label-form-item {
		font-size: 14px;
	}

	.container-add-task {
		padding-bottom: 70px;
	}

	.add-task__header-title {
		font-size: 18px;
	}

	.ant-select-lg {
		font-size: 14px;
	}

	.ant-picker-large .ant-picker-input>input {
		font-size: 14px;
	}
}

@media all and (min-width: 600px) and (max-width: 1023px) {
	.show-data-select {
		font-size: 15px;
	}

	.present-select-add-task {
		justify-content: center;
	}

	.add-task__label-cate {
		font-size: 13px;
	}

	.add-task__label-form-item {
		font-size: 14px;
	}

	.container-add-task {
		padding-bottom: 70px;
	}
}

@media all and (min-width: 1024px) {}

@media all and (min-width: 1280px) {}