* {
	font-family: 'Roboto', sans-serif;
}

.grid {
	width: 1200px;
}

.landing-header {
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 50px;
	justify-content: space-between;
}

.landing-header__menu-list {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.landing-header__menu-item {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	padding: 4px;
	cursor: pointer;
	border: 1px solid;
	border-color: white;
	margin-right: 5px;
	font-weight: 500;
}

.landing-header__menu-item:last-child {
	margin-right: 0px;
}

.landing-header__menu-item:hover {
	background-color: rgba(0, 0, 0, 0.04);
	border-color: #ededed;
	border-radius: 3px;
}

.landing-header__menu-item-separate {
	width: 1px;
	height: 20px;
	background-color: #ededed;
	margin-right: 5px;
}

/* Body - landing */
.landing-body {
	display: flex;
	justify-content: center;
}



.landing-body__banner {
	display: flex;
	flex-direction: row;
	height: 80vh;
}

.landing-body__banner-intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	height: 100%;
}

.banner-main-title {
	font-size: 50px;
	display: block;
}

.banner-second-title {
	font-size: 20px;
	display: block;
	font-weight: 400;
	color: #333;
}

.banner-buttons {
	display: flex;
	justify-content: center;
}

.banner-button-item {
	margin-top: 20px;
	font-weight: 500;
}

.landing-body__banner-image {
	background-image: url('../../assets/image-home-page/3856172.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 100%;
}