.actions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.list-action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
div.infor-task {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.name-task {
	font-size: 16px;
	font-weight: 500;
}

.time-task {
	font-size: 12px;
	color: brown;
}

.icon-assigned-point {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.icon-assigned {
	display: flex;
	flex-direction: row;
}

.icon-avatar {
	margin: 0 5px;
	border: 1px solid rgb(50, 131, 223);
	cursor: pointer;
}

.icon-avatar:hover {
	border: 2px solid rgb(44, 221, 88);
}

.icon-task-point {
	font-size: 18px;
	color: darkgoldenrod;
}
.point,
.task-point {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.task-point {
	margin-left: 20px;
}
