.unable-react-list {
	pointer-events: none;
}

.detail-task {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.infor-task {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.name-task {
	font-size: 17px;
	font-weight: 500;
}

.note-task {
	margin-top: 3px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.time-task {
	margin-top: 8px;
	font-size: 12px;
	color: brown;
}

.icon-assigned-point {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.icon-assigned {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

/* show text name when hover*/
.container-icon-avatar {
	position: relative;
}
.container-icon-avatar .icon-avatar-show-name {
	visibility: hidden;
	width: max-content;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 2px 4px;

	/* Position the text name */
	position: absolute;
	top: -25px;
	left: -5px;
	z-index: 1;
}
.icon-avatar:hover {
	border: 2px solid rgb(59, 240, 216);
}

.icon-avatar:active {
	border: 2px solid rgb(57, 235, 41);
	background: transparent;
}

.icon-avatar {
	margin: 0 5px;
	cursor: pointer;
}
.container-icon-avatar:hover .icon-avatar-show-name {
	visibility: visible;
}

.icon-task-point {
	font-size: 18px;
	color: darkgoldenrod;
}
.point,
.task-point {
	display: flex;
	width: max-content;
	flex-direction: row;
	align-items: center;
}
.task-point {
	margin-left: 20px;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	transition-property: opacity, left, top, height;
	transition-duration: 3s, 5s;
}
.list-action {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	transition-duration: 1s;
}

.image-task {
	max-height: 80px;
	width: auto;
	object-position: center;
	object-fit: cover;
}
.show-image-task,
.show-assign-action-task {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
