.unable-react-list {
	pointer-events: none;
}

.detail-task {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.infor-task {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.name-task {
	font-size: 16px;
	color: #0f0f0f;
}

.note-task {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: #161616;
}

.time-task {
	margin-top: 8px;
	font-size: 12px;
	color: brown;
}

.right-part-item-task {
	width: auto;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.icon-assigned {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 100%;
	width: max-content;
	position: relative;
}

.container-icon-avatar {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: max-content;
}

.container-icon-avatar:hover .icon-check-member-completed {
	font-size: 25px;
}

.container-icon-avatar:hover .icon-avatar,
.container-icon-avatar:hover .icon-avatar-member-completed {
	width: 45px;
	height: 45px;
	transition-duration: 0.2s, 1s;
}

.icon-avatar,
.icon-avatar-member-completed {
	margin: 0 0px;
	cursor: pointer;
}

.icon-avatar-member-completed {
	border: 1px solid rgb(21, 255, 0);
}

.icon-task-point {
	font-size: 18px;
	color: darkgoldenrod;
}

.point,
.task-point {
	display: flex;
	width: max-content;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.task-point {
	margin-left: 20px;
}

.point {
	font-size: 17px;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition-duration: 3s, 5s;
}

.task__action-left-part {
	display: flex;
	justify-content: flex-start;
}

.task__action-right-part {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.task__action-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	height: 100%;
	transition-duration: 0.2s, 0.5s;
	cursor: pointer;
}

.icon-action-task {
	color: #2985ff;
	font-size: 21px;
}

.icon-action-task:hover,
.task__action-item:hover>.icon-action-task {
	font-size: 26px;
	transition-duration: 0.2s, 0.2s;
}

.image-task {
	max-height: 70px;
	width: auto;
	object-position: center;
	object-fit: contain;
}

.show-image-task,
.show-assign-action-task {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.check-box-task {
	border-radius: 100%;
}

/* css for checkbox */

.round {
	position: relative;
}

.round label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 28px;
	left: 0;
	position: absolute;
	top: 0;
	width: 28px;
}

.round label:hover {
	border: 1px solid #66bb6a;
}

.round label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: '';
	height: 6px;
	left: 7px;
	opacity: 0;
	position: absolute;
	top: 8px;
	transform: rotate(-45deg);
	width: 12px;
}

.round input[type='checkbox'] {
	visibility: hidden;
}

.round input[type='checkbox']:checked+label {
	background-color: #66bb6a;
	border-color: #66bb6a;
}

.round input[type='checkbox']:checked+label:after {
	opacity: 1;
}

/* custom check member completed */

.icon-check-member-completed {
	color: rgb(21, 255, 0);
	font-size: 21px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	z-index: 999;
}

.icon-avatar-member-completed {
	background-color: black;
	opacity: 0.7;
	border: 1px solid rgb(21, 255, 0);
}

.line-connect-all-member {
	display: inline-block;
	height: 2px;
	width: 5px;
	background-color: #2985ff;
}




@media only screen and (min-width: 1024px) {
	.task__list-item>.ant-list-item-action {
		width: 100%;
		margin-left: 0px;
	}

	.task__list-item>.ant-list-item-action>li {
		width: 100%;
		margin-left: 0px;
	}
}

/* small tablet - medium tablet */

@media only screen and (min-width: 600px) and (max-width: 1023px) {
	.icon-assigned {
		height: auto;
		margin-bottom: 5px;

	}

	.task-point {
		margin-left: 0px;
	}

	.show-image-task {
		display: none;
	}

	.right-part-item-task {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
	}

	.task__list-item>.ant-list-item-action {
		width: 100%;
		margin-left: 0px;
	}

	.task__list-item>.ant-list-item-action>li {
		width: 100%;
		margin-left: 0px;
	}

	.task__action-item {
		margin-right: 0px;
	}

	.icon-task-point {
		font-size: 15px;
	}

	.point {
		font-size: 15px;
	}

	.task__action-title {
		font-size: 12px;
		width: max-content;
	}
}

@media only screen and (min-width: 992px) {
	.show-image-task {
		display: block;
	}

	.task__list-item>.ant-list-item-action {
		width: 100%;
		margin-left: 0px;
	}

	.task__list-item>.ant-list-item-action>li {
		width: 100%;
		margin-left: 0px;
	}


}

/* Mobile */

@media only screen and (min-width: 320px) and (max-width: 599px) {
	.show-image-task {
		display: none;
	}

	.name-task {
		font-size: 14px;
	}

	.note-task {
		font-size: 13px;
	}

	.time-task {
		font-size: 11px;
	}

	.right-part-item-task {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;

	}

	.icon-assigned {
		height: auto;
		margin-bottom: 8px;
	}

	.icon-action-task {
		font-size: 20px;
	}

	.task-point {
		padding-left: 8px;
	}

	.icon-task-point {
		font-size: 13px;
	}

	.point {
		font-size: 13px;
	}

	.task__list-item>.ant-list-item-action {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-left: 0px;
	}

	.task__list-item>.ant-list-item-action>li {
		width: 100%;
	}

	.actions {
		width: 100%;
	}

	.task__action-item {
		margin: 0 4px;
	}

	.task__action-title {
		font-size: 11px;
		width: max-content;
	}

	.icon-avatar-member-completed,
	.icon-avatar {
		width: 30px;
		height: 30px;
	}

	.task__list-task-container>.ant-list-pagination>ul>li {
		width: 22px;
		height: 22px;
		min-width: 22px;
		max-height: 22px;
		line-height: 22px;
	}

	.task__list-task-container>.ant-list-pagination {
		margin-top: 12px;
	}
}