.left-header-my-account-container {
    width: 20%;
}

.center-header-my-account-container {
    font-size: 22px;
    width: 60%;
    display: flex;
    justify-content: center;
}

.content-my-account {
    background-color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-button,
.save-button {
    width: 100%;
    border-style: ridge;
    border-radius: 5px;
    font-size: 20px;
    height: auto;
}

.delete-button {
    background-color: darkgrey;
}

.save-button {
    float: right;
}

.title-forgot {
    color: #1890ff;
    cursor: pointer;
    font-size: 17px ;
}