.site-layout-background{
    background-color: white;
}

.content-add-member-container {
    margin: 10px 0px;
}

.create-profile-container {
    height: 100%;
}

.radio-admin {
    float: right;
    line-height: 50px;
}

.img-profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    border: groove thin;
}

button.upload-container:hover, button.upload-container:hover::after {
    color: black;
}

.list-avatar-container {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    position: relative;
}
.avatar::before {
    width: unset !important;
}
.pink-avatar {
    background-color: #f7c2c1;
}
.yellow-avatar {
    background-color: #fcefc3;
}
.orange-avatar {
    background-color: #fadec2;
}
.purple-avatar {
    background-color: #e4cce2;
}
.blue-avatar {
    background-color: #d3dff1;
}
.green-avatar {
    background-color: #9dcc80;
}
.camera-icon {
    position: absolute;
    left: 11px;
    top: 11px;
    color: black;
}
.camera-avatar {
    background-color: #efefef;
}

.avatar:hover {
    transform: translateY(-3px);
}
.camera-avatar:hover {
    box-shadow: 0px 0px 40px #efefef;
}
.pink-avatar:hover {
    box-shadow: 0px 0px 40px #f7c2c1;
}
.yellow-avatar:hover {
    box-shadow: 0px 0px 40px #fcefc3;
}
.orange-avatar:hover {
    box-shadow: 0px 0px 40px #fadec2;
}
.purple-avatar:hover {
    box-shadow: 0px 0px 40px #e4cce2;
}
.blue-avatar:hover {
    box-shadow: 0px 0px 40px #d3dff1;
}
.green-avatar:hover {
    box-shadow: 0px 0px 40px #9dcc80;
}

.avatar::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50% !important;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: all 1s;
}

.camera-avatar::after {
    background-color:  #a29b9b;
}
.pink-avatar::after {
    background-color: #f14743;
}
.yellow-avatar::after {
    background-color: #efbe18;
}
.orange-avatar::after {
    background-color: #f38110;
}
.purple-avatar::after {
    background-color: #d652cb;
}
.blue-avatar::after {
    background-color: #528fea;
}
.green-avatar::after {
    background-color: #61c722;
}

.avatar:hover::after {
    transform: scale(2);
    opacity: 0;
}

.fa-user, 
.fa-envelope,
.fa-birthday-cake {
    color: #d7d7d7;
}

.create-button {
    width: 100%;
}