

.panel-container {
    background-color: white;
    color: rgb(112, 124, 143);
    margin: 15px 20px;
    border-radius: 5px;
    height: 50px;
    position: relative;
    line-height: 50px;
    cursor: pointer;
}

.panel-container:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.panel-content {
    position: absolute;
    left: 10px;
}

.caretright-icon {
    float: right;
    line-height: 45px;
    padding-right: 15px;
    font-size: 15px;
    color: #d7d7d7;
}

.custom-icon {
    color: #d7d7d7;
    margin: 0px 10px;
}

/* big tablets to 1200px */
@media only screen and (min-width: 1024px) {
    .panel-content {
        font-size: 18px;
    }
}

/* small tablets to big tablets from 768px to 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .panel-content {
        font-size: 16px;
    }
}

/* small phones to small tablets */
@media only screen and (min-width: 480px) and ( max-width: 767px) {
    .panel-content {
        font-size: 14px;
    }
}

/* small phones from 0 - 480px */
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .panel-content {
        font-size: 12px;
    }
}


