.ant-menu.ant-menu-dark {
    background: none;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #e6f7ff;
}

.container-infor-family {
    text-align: center;
    margin: 20px 20px 20px 0px;
}

.name-user {
    font-size: 16px;
    color: white;
}

.container-dashboard-menu {
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-menu {
    border: none;
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #243b55,
        #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-menu li {
    color: white;
}

.main-menu a {
    color: white;
    font-size: 17px;
}

.main-menu li:hover {
    background-color: rgba(124, 124, 124, 0.5);
}

.main-menu li:hover,
.main-menu li:hover a {
    color: white;
}

.main-menu li.ant-menu-item-selected:hover a {
    color: #1890ff;
}

.ant-menu-item-selected {
    background-color: #e6f7ff;
}

.ant-menu-item-selected > a,
.ant-menu-item-selected > span {
    color: #1890ff;
}

.mobile__container-dashboard-menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid #1890ff;
}

.mobile__menu {
    display: flex;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    align-items: center;
}

.mobile__menu-item {
    padding: 0;
    height: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* big tablets to 1200px */

@media only screen and (min-width: 1024px) {
    .container-dashboard-menu {
        max-width: none !important;
        flex-basis: 300px !important;
    }

    .mobile__container-dashboard-menu {
        display: none;
    }

    img.container-img-family {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
    }

    .name-family {
        font-size: 20px;
        font-weight: 500;
        color: white;
        margin-top: 5px;
    }

    .size-icon {
        font-size: 18px !important;
    }
}

/* small tablets to big tablets from 768px to 1023px */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container-dashboard-menu {
        max-width: none !important;
        flex-basis: 180px !important;
    }

    .mobile__container-dashboard-menu {
        display: none;
    }

    img.container-img-family {
        width: 80px;
        background-color: white;
        border-radius: 50%;
    }

    .name-family {
        font-size: 16px;
        font-weight: bolder;
        color: white;
        margin-top: 5px;
    }

    .size-icon {
        font-size: 16px !important;
    }
}

/* small phones to small tablets */

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .container-dashboard-menu {
        display: none;
    }

    .mobile__container-dashboard-menu {
        display: block;
        width: 100%;
    }

    img.container-img-family {
        width: 60px;
        background-color: white;
        border-radius: 50%;
    }

    .name-family {
        font-size: 14px;
        font-weight: bolder;
        color: white;
        margin-top: 5px;
    }

    .mobile__menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobile__menu-item > a {
        font-size: 11px;
        display: block;
        height: 25px;
        line-height: 25px;
        margin-bottom: -10px;
    }

    .size-icon {
        display: block;
        width: 100%;
        font-size: 18px !important;
        text-align: center;
    }
}
