.chat-container {
    height: 100%;
    border: groove thin;
    border-radius: 10px;
}

.title-header{
    font-weight: bolder;
    margin-right: 55px;
}

.menu-chat-container {
    border-right: groove thin;
    padding: 15px;
}

.header-menu-container {
    align-items: center;
}

.name-messenger {
    font-size: 17px;
    font-weight: bolder;
}

.avatar-messenger {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.search-menu-container {
    margin: 10px 0px;
}

.search-messenger {
    border-radius: 15px;
    height: 35px;
    font-size: 20px;
    align-items: center;
}

.body-menu-container {
    margin: 5px 0px;
}

.list-partner-container {
    width: 100%;
    background-color: unset;
    border-right: none;
}

.partner-item-container {
    height: auto !important;
    line-height: 25px !important;
    margin: 10px 0px !important;
    border-radius: 5px;
}

.partner-container {
    align-items: center;
    margin: 5px 0px;
}

.avatar-partner {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.name-partner {
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
}

.content-message {
    font-size: 12px;
    color: rgb(153, 153, 153);
    line-height: 12px;
}

.header-body-container {
    border-bottom: groove thin;
    padding: 15px;
}

.content-body-container {
    position: relative;
    padding: 15px;
    height: 86%;
}

.toolbar-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    align-items: center;
}

.message-input {
    width: 80%;
    border-radius: 10px;
}

.icon-toolbar {
    cursor: pointer;
}

/* big tablets to 1200px */
@media only screen and (min-width: 1024px) {
    .title-header{
        font-size: 20px;
    }
    .icon-back {
        font-size: 16px;
    }
}

/* small tablets to big tablets from 768px to 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .title-header{
        font-size: 18px;
    }
    .icon-back {
        font-size: 14px;
    }
}

/* small phones to small tablets */
@media only screen and (min-width: 480px) and ( max-width: 767px) {
    .title-header{
        font-size: 16px;
    }
    .icon-back {

        font-size: 12px;
    }
}

/* small phones from 0 - 480px */
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .title-header{
        font-size: 14px;
    }
    .icon-back {
        font-size: 10px;
    }
}
